@include icon-black-white('empty-rules', 'csp_editor', 1);

ul.policy-list {
	max-width: 18rem;
	li {
		display: flex;
		justify-content: space-between;

		div {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			white-space: nowrap;

			span:first-child {
				text-overflow: ellipsis;
				overflow: hidden;
			}

			span:last-child {
				color: var(--color-text-lighter);
			}
		}
	}
}
#csp_editor .empty-content {
	margin-top: 2rem;
	max-width: min(30rem, 100%);
}
