<template>
	<SettingsSection
		id="csp_editor"
		:title="t('csp_editor', 'CSP Editor')"
		:description="t('csp_editor', 'Allows to edit Nextcloud\'s default CSP policy.')">
		<p>{{ t('csp_editor', 'Note: Be extra careful with these settings, and add only what you need below.') }}</p>
		<form @submit.prevent="addCSPDomain">
			<!-- eslint-disable-next-line vue/no-v-html -->
			<p v-html="issueHint" />
			<p>
				<input id="csp_editor_allow_inline_script"
					type="checkbox"
					name="csp_editor_allow_inline_script"
					class="checkbox"
					disabled
					@change="saveCSP">
				<label for="csp_editor_allow_inline_script">
					{{ t('csp_editor', 'Allow inline script') }}
				</label>
				<br>
				<em>
					{{ t('csp_editor', 'Allow inline scripts to be executed. Very dangerous. Can be useful for development.') }}
					<span v-if="!debug">{{ t('csp_editor', 'You need to set "debug" => true in your config.php file to allow inline scripts.') }}</span>
				</em>
			</p>
			<p>
				<input id="csp_editor_allow_eval_script"
					type="checkbox"
					name="csp_editor_allow_eval_script"
					class="checkbox"
					disabled
					@change="saveCSP">
				<label for="csp_editor_allow_eval_script">
					{{ t('csp_editor', 'Allow eval script') }}
				</label>
				<br>
				<em>
					{{ t('csp_editor', 'Allow scripts to use eval(). Very dangerous. Can be useful for development.') }}
					<span v-if="!debug">
						{{ t('csp_editor', 'You need to set {debug_true} in your config.php file to allow to use eval().', {debug_true: `<code>"debug" => true</code>`}, undefined, {sanitize: false, escape: false}) }}</span>
				</em>
			</p>
			<p>
				<input id="csp_editor_allow_inline_style"
					v-model="cspPolicy.allowInlineStyle"
					type="checkbox"
					name="csp_editor_allow_inline_style"
					class="checkbox"
					@change="saveCSP">
				<label for="csp_editor_allow_inline_style">
					{{ t('csp_editor', 'Allow inline styles') }}
				</label>
				<br>
				<em>{{ t('csp_editor', 'Allow inline styles to be used.') }}</em>
			</p>
			<p>
				{{ t('csp_editor', 'Add a domain policy') }}
				<select v-model="newPolicy.type">
					<option value="allowedScriptDomains">
						{{ policyTypeTranslation('allowedScriptDomains') }}
					</option>
					<option value="allowedStyleDomains">
						{{ policyTypeTranslation('allowedStyleDomains') }}
					</option>
					<option value="allowedFontDomains">
						{{ policyTypeTranslation('allowedFontDomains') }}
					</option>
					<option value="allowedImageDomains">
						{{ policyTypeTranslation('allowedImageDomains') }}
					</option>
					<option value="allowedConnectDomains">
						{{ policyTypeTranslation('allowedConnectDomains') }}
					</option>
					<option value="allowedObjectDomains">
						{{ policyTypeTranslation('allowedObjectDomains') }}
					</option>
					<option value="allowedFrameDomains">
						{{ policyTypeTranslation('allowedFrameDomains') }}
					</option>
					<option value="allowedFrameAncestorDomains">
						{{ policyTypeTranslation('allowedFrameAncestorDomains') }}
					</option>
					<option value="allowedWorkerSrcDomains">
						{{ policyTypeTranslation('allowedWorkerSrcDomains') }}
					</option>
					<option value="allowedFormActionDomains">
						{{ policyTypeTranslation('allowedFormActionDomains') }}
					</option>
					<option value="reportTo">
						{{ policyTypeTranslation('reportTo') }}
					</option>
				</select>
				<input v-model="newPolicy.domain"
					type="text"
					required
					:placeholder="t('csp_editor', 'domain.org')">
				<button class="button" type="submit">
					{{ t('csp_editor', 'Create') }}
				</button>
				<button class="button" type="reset" @click="resetAll">
					{{ t('csp_editor', 'Reset all') }}
				</button>
			</p>
			<ul v-if="newPolicies.length > 0" class="policy-list">
				<li v-for="cspDomainPolicy in newPolicies" :key="`${cspDomainPolicy.type}:${cspDomainPolicy.domain}`">
					<div>
						<span class="">
							{{ cspDomainPolicy.domain }}
						</span>
						<span class="">
							{{ policyTypeTranslation(cspDomainPolicy.type) }}
						</span>
					</div>
					<button class="icon-delete" @click="removePolicy(cspDomainPolicy)" />
				</li>
			</ul>
			<EmptyContent v-else icon="icon-empty-rules">
				{{ t('csp_editor', 'No custom policy set') }}
				<template #desc>
					{{ t('csp_editor', 'Pick a policy type and enter a domain') }}
				</template>
			</EmptyContent>
		</form>
	</SettingsSection>
</template>
<script>
import { loadState } from '@nextcloud/initial-state'
import SettingsSection from '@nextcloud/vue/dist/Components/SettingsSection'
import { showError } from '@nextcloud/dialogs'
import EmptyContent from '@nextcloud/vue/dist/Components/EmptyContent'

const defaultDomainPolicy = {
	allowedScriptDomains: [],
	allowedStyleDomains: [],
	allowedFontDomains: [],
	allowedImageDomains: [],
	allowedConnectDomains: [],
	allowedMediaDomains: [],
	allowedObjectDomains: [],
	allowedFrameDomains: [],
	allowedFrameAncestorDomains: [],
	allowedWorkerSrcDomains: [],
	allowedFormActionDomains: [],
	reportTo: [],
}

const defaultPolicy = {
	allowInlineScript: false,
	allowEvalScript: false,
	allowInlineStyle: true,
	...defaultDomainPolicy,
}

export default {
	name: 'AdminSettings',
	components: {
		SettingsSection,
		EmptyContent,
	},
	data() {
		return {
			cspPolicy: defaultPolicy,
			debug: false,
			appName: 'csp_editor',
			newPolicy: {
				domain: '',
				type: 'allowedScriptDomains',
			},
			types: {
				allowedScriptDomains: this.t('csp_editor', 'Script'),
				allowedStyleDomains: this.t('csp_editor', 'Style'),
				allowedFontDomains: this.t('csp_editor', 'Font'),
				allowedImageDomains: this.t('csp_editor', 'Image'),
				allowedConnectDomains: this.t('csp_editor', 'Connect'),
				allowedMediaDomains: this.t('csp_editor', 'Media'),
				allowedObjectDomains: this.t('csp_editor', 'Object'),
				allowedFrameDomains: this.t('csp_editor', 'Frame'),
				allowedFrameAncestorDomains: this.t('csp_editor', 'Frame Ancestor'),
				allowedWorkerSrcDomains: this.t('csp_editor', 'WorkerSrc'),
				allowedFormActionDomains: this.t('csp_editor', 'Form Action'),
				reportTo: this.t('csp_editor', 'Report To'),
			},
		}
	},
	computed: {
		newPolicies() {
			const newPolicies = []
			Object.entries(this.cspPolicy).forEach(([key, values]) => {
				if (!['allowInlineScript', 'allowEvalScript', 'allowInlineStyle'].includes(key)) {
					values.forEach(val => {
						newPolicies.push({ type: key, domain: val })
					})
				}
			})
			return newPolicies
		},
		issueHint() {
			return t('csp_editor', 'The following two options are disabled because of {linkstart}an issue with Nextcloud itself{linkend}.')
				.replace('{linkstart}', '<a href="https://github.com/nextcloud/server/issues/25226" target="_blank" rel="noreferrer nofollow" class="external">')
				.replace('{linkend}', ' ↗</a>')
		},
	},
	created() {
		try {
			this.debug = loadState(this.appName, 'debug')
			let policy = loadState(this.appName, 'customCSP')
			policy = JSON.parse(policy)
			if (policy !== [] && Object.keys(policy).length > 0) {
				this.cspPolicy = policy
			}
		} catch (e) {
			console.error('Error fetching initial state', e)
		}
	},
	methods: {
		policyTypeTranslation(type) {
			return this.types[type]
		},
		addCSPDomain() {
			const domain = this.newPolicy.domain.trim()
			this.cspPolicy[this.newPolicy.type].push(domain)
			this.newPolicy.domain = ''
			this.saveCSP()
		},
		saveCSP() {
			try {
				this.OCP.AppConfig.setValue(this.appName, 'customCSP', JSON.stringify(this.cspPolicy))
			} catch (e) {
				console.error(e)
				showError(t('csp_editor', 'Error while saving custom CSP policy'))
			}
		},
		removePolicy(policyToRemove) {
			this.cspPolicy[policyToRemove.type] = this.cspPolicy[policyToRemove.type].filter(domain => {
				return domain !== policyToRemove.domain
			})
			this.saveCSP()
		},
		resetAll() {
			this.cspPolicy = defaultPolicy
			this.saveCSP()
		},
	},
}
</script>
<style>
.app-content-list {
	min-height: 0;
}
</style>
